<ion-header>
  <ion-toolbar color="header-bg">
    <div class="header-content">
      <!-- Logo pequeño -->
      <a routerLink="/home">
        <img src="assets/Logo.png" alt="Logo" class="logo" />
      </a>

      <!-- Enlaces de navegación -->
      <nav class="nav-links">
        <a *ngIf="!isLoggedIn" routerLink="/inicio-sesion">INICIAR SESIÓN</a>

        <a *ngIf="isLoggedIn" [routerLink]="['/perfil', usuarioNombre]">IR A MI PERFIL</a>

        <a routerLink="/peliculas">PELÍCULAS</a>
        <a routerLink="/resenas">RESEÑAS</a>
        <a routerLink="/favoritos">FAVORITOS</a>
      </nav>
    </div>
  </ion-toolbar>
</ion-header>
