<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Película: {{ pelicula?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="pelicula">
  <div class="container">
    <div 
      class="banner" 
      [class.expandido]="bannerExpandido"
      (click)="toggleBanner()"
      [style.background-image]="'url(https://image.tmdb.org/t/p/w780' + pelicula.backdrop_path + ')'"
      title="Haz clic para agrandar"
    ></div>

    <div class="info">
      <img [src]="'https://image.tmdb.org/t/p/w185' + pelicula.poster_path" class="poster" />
      <div>
        <h1>{{ pelicula.title }}</h1>
        <p>{{ pelicula.overview }}</p>
        <p><strong>Rating:</strong> {{ pelicula.vote_average }}</p>
      </div>
      <div *ngIf="isLoggedIn" (click)="toggleFavorito()" class="icono-favorito">
        <ion-icon [name]="esFavorito ? 'heart' : 'heart-outline'"></ion-icon>
      </div>

    </div>


    <h2>Trailer</h2>

    <ng-container *ngIf="trailerUrl; else noTrailer">
      <ion-card>
        <div class="video-container">
          <iframe
            [src]="trailerUrl | safe"
            allowfullscreen
          ></iframe>
        </div>
      </ion-card>
    </ng-container>

    <ng-template #noTrailer>
      <p>No hay tráiler disponible para esta película.</p>
    </ng-template>

    <div class="resenas-header">
      <h2>Reseñas</h2>
      <ion-button size="small" fill="outline" (click)="irCrearResena()">
        Hacer reseña
      </ion-button>
    </div>


    <div class="resenas" *ngIf="resenas.length > 0; else noResenas">
      <div *ngFor="let r of resenas" class="resena">
        <p>Usuario <strong>{{ r.usuario }}</strong></p>
        <p>{{ r.texto }}</p>
      </div>
    </div>
    <ng-template #noResenas>
      <p>No hay reseñas disponibles.</p>
    </ng-template>
  </div>
</ion-content>
