<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mis favoritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="favoritos-page">
  <!-- Si NO está logueado -->
  <ng-container *ngIf="!isLoggedIn; else loggedIn">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Inicia sesión</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Debes iniciar sesión para crear una reseña.</p>
        <ion-button expand="block" (click)="irALogin()">
          Ir a inicio de sesión
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <!-- Si SÍ está logueado -->
  <ng-template #loggedIn>
    <p>Bienvenido, estás logueado.</p>
  </ng-template>
</ion-content>
