ion-content.favoritos-page {
  --background: #1e1e1e;
  color: #ffffff;
  padding: 1rem;

  

  /* Centrar texto dentro de la tarjeta de login */
  ion-card-content {
    text-align: center;
  }

  
}

