.login-page {
  --background: #121920;

  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 20px;
    color: white;
  }

  .logo-section {
    text-align: center;
    margin-bottom: 40px;

    .logo {
      width: 100px;
      margin-bottom: 10px;
    }

    h2 {
      font-weight: bold;
      font-size: 22px;
      color: white;
    }
  }

  ion-item {
    margin-bottom: 20px;
    background: #1e2a34;
    border-radius: 8px;
    --highlight-color-focused: #fff;
    --color: white;
  }

  ion-label {
    color: white;
  }

  .login-button {
    background-color: #121212;
  }

  .register-link {
    text-align: center;
    margin-top: 20px;
    color: white;

    a {
      color: #38a1f3;
      text-decoration: none;
      font-weight: bold;
    }
  }

  .mensaje {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
  }

  .success {
    color: #4caf50;  
  }

  .danger {
    color: #f44336;  
  }
}
